/*
Colors:
   Blue: #1dbacc
   Purple: #662266
   Pink: #DE5464
*/

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}



html,
body {
    height: 100%;

}


/*Create speech bubble effect*/

.masthead-nav
{
    font-family: 'Spinnaker', Arial, sans-serif;
    
    text-shadow: none; /* Prevent inheritence from `body` */
    background: white;

    height:60px;

    border:5px solid #1dbacc;

    border-radius:10px ;

    -moz-border-radius:10px;

    -webkit-border-radius:10px;

    position:relative;

}

.masthead-nav:before

{

    content:"";

    position:absolute;

    bottom:-20px; /* value = - border-top-width - border-bottom-width */

    right:120px; /* controls horizontal position */

    border-width:20px 20px 0;

    border-style:solid;

    border-color:#1dbacc transparent;

    /* reduce the damage in FF3.0 */

    display:block;

    width:0;

}

.masthead-nav:after

{

    content:"";

    position:absolute;

    bottom:-13px; /* value = - border-top-width - border-bottom-width */

    right:127px; /* value = (:before left) + (:before border-left) - (:after border-left) */

    border-width:13px 13px 0;

    border-style:solid;

    border-color:#fff transparent;

    /* reduce the damage in FF3.0 */

    display:block;

    width:0;

}


.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 80px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    color: #000; /* IE8 proofing */
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
}



.masthead-nav > li > a {
    font-size: 22px;
}

body {

    background: url('../img/emp_sm.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    
}

#home-page {
    overflow: hidden;
}

.heading {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 60px;
    text-align: center;
    color: #662266;
}



/* Center navbar on screen */
.speech-navbar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 1000px;

}

.main-image {

    margin-top: 120px;

}

.credits-footer {
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}


.credits-footer p {
    float: left;

}

.credits-footer a {
    
    text-decoration: underline;

}

.white-jumbo {
    background: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 60px;
    
}

.text-box {
    margin-left: auto;
    margin-right: auto;
    text-shadow: none;
    color: #000;
    font-family: 'Raleway', Courier, serif;
    font-size: 20px;
    text-align: left;
}



.vertical-center-box {
    
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.emphatic-heading {

    font-family: 'Cinzel Decorative', cursive;
    line-height: .75;
    font-size: 50px; 

}

.emphatic-heading .top {
    text-align: left;
    color: #1dbacc;
}

.emphatic-heading .middle {
    text-align: center;
    color: #662266;
}


.emphatic-heading .bottom {
    text-align: right;
    color: #DE5464;
}

.lead-p {
    margin-top: 30px;
}

#portrait {
    border-radius: 100% 50%;
}

#hackcessible {
    border-radius: 10px;
}









