/*
   Colors:
   Blue: #1dbacc rgb: 29, 186, 204
   Purple: #626 rgb: 102,34,102
   Pink: #DE5464 rgb: 222, 84, 100

   Fonts:
   Headings: 'Rye', Times New Roman, Times, serif
   Text: 'Milonga', Helvetica, Arial, sans-serif
   Other: 'Montserrat Alternates', Courier New, Courier, serif
 */

/**************** UNIVERSAL RULES ********************/
a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
  color: #fff;
  font-family: 'Montserrat Alternates', Courier New, Courier, serif;
  height: 100%;
  text-align: center;
}

/* SPEECH BUBBLE NAVBAR - ALL SIZES*/

.masthead-nav {
  background: white;
  border:5px solid #1dbacc;
  border-radius:10px ;
  font-family: 'Rye', Times New Roman, Times, serif;
  height:60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  -moz-border-radius:10px;
  padding-left: 10px;
  padding-right: 10px;
  position:relative;
  -webkit-border-radius:10px;
  width: 1000px;
}

.masthead-nav:before {
  border-color:#1dbacc transparent;
  border-style:solid;
  border-width:20px 20px 0;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  content:"";
  display:block;
  position:absolute;
  right:120px; /* controls horizontal position */
  width:0;
}

.masthead-nav:after {
  border-color:#fff transparent;
  border-style:solid;
  border-width:13px 13px 0;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  content:"";
  display:block;
  position:absolute;
  right:127px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  width:0;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 70px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 24px;
  color: #000; /* IE8 proofing */
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #de5464;
}

/* CHANGE NAVBAR TEXT ON HOVER - ALL SIZES */

#dynamic-portfolio:before {
  content: attr(data-hover);
  opacity: 0;
  position: absolute;
  width: 100%;
}

#dynamic-portfolio:hover span {
  opacity: 0;
}

#dynamic-portfolio:hover:before {
  opacity: 1;
}

#dynamic-about:before {
  content: attr(data-hover);
  opacity: 0;
  position: absolute;
  width: 100%;
}

#dynamic-about:hover span {
  opacity: 0;
}

#dynamic-about:hover:before {
  opacity: 1;
}

#dynamic-contact:before {
  content: attr(data-hover);
  opacity: 0;
  position: absolute;
  width: 100%;
}

#dynamic-contact:hover span {
  opacity: 0;
}

#dynamic-contact:hover:before {
  opacity: 1;
}

/* EMPHATIC HEADING - ALL SIZES */
.emphatic.divider-bar {
  font-family: 'Rye', Times New Roman, Times, serif;
  font-size: 60px;
  line-height: .75;
  padding-bottom: 15px;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 85px;
}

.emphatic .top {
  text-align: left;
}

.emphatic .middle {
  text-align: center;
}

.emphatic .bottom {
  text-align: right;
}

/* FULL WIDTH DIVIDER BAR - ALL SIZES */

.divider-bar {
  font-family: 'Milonga', Helvetica, Arial, sans-serif;
  font-size: 30px;
  padding: 5px;
}

.divider-bar h1 {
  font-family: 'Rye', Times New Roman, Times, serif;
  font-size: 60px;
}

.divider-bar p {
  margin: 0;
}

.blue-bar {
  background: #1dbacc; 
}

.purple-bar {
  background: #626;
}

.pink-bar {
  background: #de5464;
}

/* FOOTER CREDITS - ALL SIZES */
.credits {
  background: #000;
  text-align: left;
}

.credits a {
  text-decoration: underline;
}

/**************** HOMEPAGE - ALL SIZES *******************/

#home-page {
  background: url('../img/emp_index_50.jpg');
  background-size: cover; /* Fill entire page */
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden; /* Ignore any image outside screen */
  -webkit-background-size: cover;
}

#main-image {
  margin-top: 120px;
}

#credits-footer {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#credits-footer a {
  text-decoration: underline;
}

#credits-footer a:hover {
  color: #1dbacc;
}

#credits-footer p {
  float: left;
}

/**************** PORTFOLIO - ALL SIZES ******************/

#project-body {
  background: #de5464 ;
  overflow-x: hidden;
}

#project-body .footer.credits {
  padding-bottom: 40px;
}

#left_creature {
  margin-top: 20px;
}

#right_creature {
  margin-top: 30px;
}

#white-bar {
  background: white;
}

/* BUTTON BAR - ALL SIZE */
#button-bar {
  background: #1dbacc;
  padding-bottom: 25px;
}

#button-bar h1 {
  font-size: 45px;
  padding-top: 15px;
}

#button-bar a {
  color: #626;
}

#button-bar li a {
  font-family: 'Montserrat Alternates', Courier New, Courier, serif;
  font-size: 20px;\
}

/* Styling of buttons */
#button-bar .btn-group .btn-default { 
  background: white;
  border-radius: 10px;
  color: #626;
  border: 3px solid #626;
  font-family: 'Montserrat Alternates', Courier New, Courier, serif;
  font-size: 20px;
}

#button-bar .btn-group + .btn-group {
  margin-left: 10px;
}

#button-bar .dropdown-toggle:hover {
  background: #de5464;
}

/* Styling of drop down part */
#button-bar .dropdown-menu {
  background: #1dbacc;
  color: white;  
}

#button-bar .dropdown-menu a {
  color: white;
}

#button-bar .btn-group li a:hover {
  background: white;  
  color: #de5464;
}

/* PORTFOLIO ITEMS - ALL SIZES */

.btn-default {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Montserrat Alternates', Courier New, Courier, serif;
}

.btn-default:hover {
  background: white;
  color: #de5464;
}

.pane {
  border: 10px solid black;
  border-radius: 100px;
  margin: 25px 100px;
  overflow: hidden;
  padding: 20px;
}

.pane .col-md-5 {
  padding: 0;
}

.portfolio-item {
  color: #000;
  font-family: 'Milonga', Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.portfolio-item a {
  text-decoration: underline;
}

.portfolio-item a.jump {
  display: block;
  height: 0;
  position: relative;
  top:-100px;
  width:0;
}

.portfolio-item h1,
.portfolio-item h2 {
  font-family: 'Rye', Times New Roman, Times, serif;
}

.portfolio-item h2 {
  font-size: 25px;
}

.portfolio-item h2 + h2 {
  margin-top: 0px;
}

.portfolio-item h2 span {
  font-size: 20px;
}

.portfolio-item img {
  border-radius: 0;
  border-style: solid;
  border-width: 10px;
  height: auto;
  margin-bottom: -40px;
  margin-top: -40px;
  width: 100%;
}

.portfolio-item p {
  font-size: 20px;
  margin-top: 20px;
}

.portfolio-item .row {
  align-items: center;
  display: flex;
  margin: 0;
}

.portfolio-item .text {
  font-family: 'Milonga', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

/* EVEN ROW PORTFOLIO ITEMS - ALL SIZES */
.portfolio-item.even a{
  color: #1dbacc;
}

.portfolio-item.even .btn-default {
  background: #626;
  color: white;
  text-decoration: none;
}

.portfolio-item.even img {
  border-color: #1dbacc;
  margin-left: -80px;
}

.portfolio-item.even .pane {  
  background: white;
  border-color: #1dbacc;
}

/* ODD ROW PORTFOLIO ITEMS - ALL SIZES */
.portfolio-item.odd a {
  color: white;
}

.portfolio-item.odd .btn-default {
  background: #de5464;
  color: white;
  text-decoration: none;
}

.portfolio-item.odd img {
  border-color: white;
  margin-right: -80px;
}

.portfolio-item.odd .pane{
  background: #1dbacc;  
  border-color: white;
}

.portfolio-item.odd .text {
  padding-right: 0;
}


/* RETURN TO TOP BUTTON - ALL SIZES */
#return-to-top p{  
  background: #626;
  border-radius: 5px 5px 0 0;
  font-size: 16px;
  margin: 0;
  padding: 5px;
}

#return-to-top a:hover {
  text-decoration: none;
}

#return-to-top.navbar-fixed-bottom {
  right: 0;
  width: 20%;
}

/* TOOLBOX (COLORED BOX FOR TOOL INFO) - ALL SIZES */
.toolbox {
  border-radius: 15px;
  padding-bottom: 5px;
  padding-top: 1px;
}

.even .toolbox {
  background: #1dbacc;
}

.odd .toolbox {
  background: white;
}

/**************** ABOUT ME - ALL SIZES ******************/

/* INTRODUCTION - ALL SIZES */
#about-intro {
  background: black url('../img/emp_about_50.jpg') 50% 0 repeat scroll;
  color: white;
  font-family: 'Milonga', Helvetica, Arial, sans-serif;
  text-align: center;
}

#about-intro h1 {
  font-family: 'Rye', Times New Roman, Times, serif;
  font-size: 50px;
  padding-top: 45px;
}

#about-intro p {
  font-size: 26px;
  padding: 45px;  
}

#portrait {
  border-radius: 100% 50%;
  margin-bottom: 35px;
  margin-top: 35px;
}

/* EXPOSITION - ALL SIZES */
#about-expo {
  background: black url('../img/laptop_50.jpg') no-repeat center center fixed;
  font-family: 'Milonga', Helvetica, Arial, sans-serif;
  font-size: 26px;
}

#about-expo .container {
  padding: 100px 35px;
}

#about-expo p + p {
  margin-top: 30px;
}


/* DEVELOPER FAME POINTS - ALL SIZES */
#dev-fame-section {
  padding: 25px;
}

.node-service .row {
  font-size: 22px;
}


.ghost a {
  text-decoration: underline;
}

.ghost h2 {
  font-family: 'Rye', Times New Roman, Times, serif;
  font-size: 30px;
}

.ghost p {
  font-family: 'Milonga', Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 33px;
  text-align: left;
}

/*.node-service {
  background-color: #fff;
}

.node-service .image{
  left: -webkit-calc(50% - 76px);
  left: calc(50% - 76px);
  height: 336px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.node-service .image img {
  display: block;
  height: auto;
  max-width: 100%;  
}*/

/*.node-service .row {
  color: #fff; /* Make trapezoid borders white 
  font-size: 22px;
  margin: 0 0 6px; /* Show trapezoid borders 
  position: relative;
  overflow: hidden;
}*/



.node-service .row-even {
  background-color: #1dbacc;
  color: #000;
}

/*.node-service .row-even .image{
  left: 0;
  width: calc(50% + 66px);
  width: -webkit-calc(50% + 66px);
}

.node-service .row-even .text{
  float: right;
}*/

.node-service .row-even .triangle {
  border-color: transparent transparent #1dbacc;
  /*border-width: 0 0 336px 140px;*/
}

/*.node-service .row-even .trapezoid-border{
  border-left: 140px solid transparent;
  border-right: 0 solid transparent;
  margin-left: -76px;
}*/

.node-service .row-odd {
  background-color: #626;
}

/*.node-service .row-odd .image img{
  min-height: 336px;
  width: calc(50% + 76px);
  width: -webkit-calc(50% + 76px);
}
*/
/*.node-service .row-odd .triangle {
  border-color: transparent transparent #626;
  /* Fill triangle with color and help diagonal border 
  border-width: 0 140px 336px 0;
  margin-left: -76px;
}*/

/*.node-service .row-odd .trapezoid-border{
  /* Help make diagonal border 
  border-left: 0 solid transparent;
  border-right: 140px solid transparent;
  margin-left: -76px;
}*/

/*.node-service .text-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}*/

/*.node-service .trapezoid-border{
  border-bottom: 336px solid white;
  box-sizing: content-box;
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-box-sizing: content-box;
  width: 6px;
  z-index: 19;
}*/

/*.node-service .triangle{
  border-style: solid;
  box-sizing: content-box;
  display: block;
  height: 0;
  left: 50%;
  margin-left: -70px;
  position: absolute;
  top: 0;
  -webkit-box-sizing: content-box;
  width: 0;
  z-index: 20;
}*/

.text-container {
  text-align: left;
}

/*.vertical-center{
  height: 336px;
}

.vertical-center:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.vertical-center .ghost{
  display: inline-block;
  vertical-align: middle;
  width: 400px;
}*/

/* Parallax for images - all sizes*/
.parallax-image {
  height: 500px;
  position: relative;
}

.parallax-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* FOOTER WITH WOMAN - ALL SIZES */

#lady-footer {
  background: white url('../img/cheeky_400.gif') center bottom/40% scroll no-repeat;  
}

#lady-footer a {
  color: black;
  text-decoration: underline;
  font-family: 'Rye', Times New Roman, Times, serif;
}   

#lady-footer p {
  color: black;
  font-family: 'Milonga', Helvetica, Arial, sans-serif;
}

#lady-footer .row {
  margin-bottom: 0;
  padding-bottom: 0;
}

#left-col {
  padding: 40px 25px;
}

#right-col {
  padding: 50px 25px;
}

/* FOOTNOTE - ALL SIZES*/
.footnote {
  background: #000;
  font-family: 'Milonga', Helvetica, Arial, sans-serif;
  padding: 20px;
}

.footnote a:hover {
  text-decoration: none;
}

/**************** CONTACT - ALL SIZES ******************/
#contact-deets {
  background: white;
  color: black;
  font-family: 'Milonga', Helvetica, Arial, sans-serif;
  font-size: 30px;
  text-align: center;  
}

#contact-deets a {
  color: black;
}

#contact-deets p a:hover {
  text-decoration-color: #626;
}

#contact-deets * span {
  color: #626;
  font-family: 'Rye', Times New Roman, Times, serif;
}

#contact-deets * .text {
  padding: 28px;  
}

#contact-deets #email {
  text-decoration-color: black;
}

#deets-img {
  display: none;  
}

#deets-img-container {
  background: url('../img/defenestration.jpg') no-repeat 0% 0% scroll;
  border: 5px solid #000;
  border-radius: 15px;
  float: none;
  height: 385px;
  margin-top: 30px;
  width: 565px;
}

.color-box {
  background: #1dbacc;
  border-radius: 10px;
  padding: 15px;
  margin-left: 20px;
} 


.fa.inner {
  color: white;
}

#beware {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
}


/****************** MEDIA QUERIES FOR DIFFERENT SCREEN SIZES *****************/
/* From me */
@media(min-width:1441px){
  .node-service .text-container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  .vertical-center .ghost{
    width:550px;
  }
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
  /* PORTFOLIO STYLES 
  .portfolio-item .small-header {
    display: none;
  }
  */
}

@media (min-width: 1024px) and (max-width: 1199px) {

  #main-image img {
    height: auto;
    width: 990px;
  }

  
  /* PORTFOLIO STYLES */
  .portfolio-item img {
    min-height: 641px;
    width: auto;
    
  }

  .portfolio-item.even img {
    margin-left: -280px;
  }

  .portfolio-item.odd img {
    margin-right: -280px;
  }

  
  
  .portfolio-item.odd .pane .col-md-7 {
    width: 100%;
  }

  .portfolio-item.even .pane .col-md-7 {
    width: 100%;
  }
  
  /*
  .portfolio-item .small-header {
    display: none;
  }
  */
  
  .portfolio-item h1 {
    font-size: 28px;
  }

  .portfolio-item h2 {
    font-size: 22px;
  }

  .portfolio-item h2 span {
    font-size: 18px;
  }

  #creature-col-left {
    margin-left: 9%;
    
  }

  #creature-col-right {
    margin-right: 5%;
    
  }
  

  #language-col {
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
  }
  

  /* CONTACT STYLES */

  #deets-img-container {
    height: 415px;
    width: 465px;
    
  }
}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1023px) {

  .speech-navbar {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  .masthead-nav {
    width: 980px;
    height: auto;
  }

  .masthead-nav > li + li {
    margin-left: 40px;
  }

  #main-image img {
    height: auto;
    width: 980px;
  }

  /* PORTFOLIO STYLES */
  #creature-col-left {
    margin-left: 9%;
    
  }

  #creature-col-right {
    margin-right: 5%;
    
  }
  

  #language-col {
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
  }


  .portfolio-item img {
    min-height: 641px;
    width: auto;
    
  }

  .portfolio-item.even img {
    margin-left: -280px;
  }

  .portfolio-item.odd img {
    margin-right: -280px;
  }

  

  

/*  .node-service .row .image {
    height: 400px;
  }
*/

  .portfolio-item.odd .col-md-5 {
    margin-left: 15px;
  }
  
  
  .portfolio-item h1 {
    font-size: 28px;
  }

  .portfolio-item h2 {
    font-size: 22px;
  }

  .portfolio-item h2 span {
    font-size: 18px;
  }

  /* ABOUT ME STYLES */

  #hack-photo {
    background: url('../img/hackcessible_team.jpg') no-repeat center center scroll;
    background-size: cover;
    background-position: 0 10px;
    
  }

  #hack-photo img {
    opacity: 0;
  }

  #wics-photo {
    background: url('../img/wics_officers_1.jpg') no-repeat center center scroll;
    background-size: cover;
    background-position: 0 10px;
    
  }

  #wics-photo img {
    opacity: 0;
  }

  #ghc-photo {
    background: url('../img/ghc.jpg') no-repeat center center scroll;
    background-size: cover;
    background-position: 70% 35%;
    
  }

  #ghc-photo img {
    opacity: 0;
    margin-top: 0px;
  }

  

  #lady-footer p {
    font-size: 20px;
  }

  

  /* CONTACT STYLING */
  #contact-deets {
    font-size: 25px;
  }

  #contact-deets img {
    width: 500px;
    height: auto;
    margin-top: 30px;
  }

  #deets-img-container {
    height: 368px;
    width: 450px;
    
  }
  
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  #return-to-top.navbar-fixed-bottom {
    width: 25%;
  }
  

  .speech-navbar {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
  }

  .masthead-nav {
    width: 760px;
    height: auto;
  }
  

  .speech-navbar .masthead-nav > li > a {
    font-size: 20px;
  }
  
  .speech-navbar .masthead-nav > li + li {
    margin-left: 30px;
  }

  #main-image img {
    height: auto;
    width: 760px;
  }

  .emphatic.divider-bar {
    font-size: 45px;
  }
  

  /* PORTFOLIO STYLES */

  #creature-col-left {
    margin-left: 5%;
    
  }

  #creature-col-right {
    margin-right: 5%;
    
  }
  

  #language-col {
    width: auto;
    margin-left: 5%
  }
  

  .emphatic.divider-bar {
    padding-left: 150px;
    padding-right: 150px;
  }

  .pane {
    margin: 25px;
  }

  .portfolio-item img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  


  .portfolio-item .col-md-7 {
    width: 50%;
    
  }
  
  
  .portfolio-item h1 {
    font-size: 28px;
  }

  .portfolio-item h2 {
    font-size: 22px;
  }

  .portfolio-item h2 span {
    font-size: 18px;
  }

  .portfolio-item .col-md-7 {
    width: 100%;
  }

  .portfolio-item.even img {
    margin-left: -280px;
    
  }

  .portfolio-item.odd img {
    margin-right: -280px;
  }


  .portfolio-item.odd .text {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .portfolio-item img {
    height: auto;
    width: auto;
    margin-top: -40px;
    margin-bottom: -40px;
  }
  
  

  /* ABOUT ME STYLES */

  #about-body h1 {
    font-size: 40px;
    padding-top: 15px;
  }

  #about-body p {
    font-size: 20px;
  }

  #about-intro p {
    padding: 10px;
  }
  

  #about-body .emphatic.divider-bar p {
    font-size: 45px;
  }
  
  
  
  #portrait {
    width: 100%;
  }

  #dev-fame-section.pink-bar img {
    width: 50%;
  }

  .row .image img {
    width: 100%;
  }
  
  
  /*.ghost h2,
  .ghost p {
    width: 70%;
  }*/
  
  
/*
  #hack-photo {
    background: url('../img/hackcessible_team.jpg') no-repeat center center scroll;
    background-size: cover;
    background-position: -200px -100px;
    
  }

  #hack-photo img {
    opacity: 0;
  }
*/
  #wics-photo {
    background: url('../img/wics_officers_1.jpg') no-repeat scroll;
    background-size: cover;
    background-position: 0 10px;
    
  }

  #wics-photo img {
    opacity: 0;
  }

  #ghc-photo {
    background: url('../img/ghc.jpg') no-repeat center center scroll;
    background-size: cover;
    background-position: 70% 35%;
    
  }

  #ghc-photo img {
    opacity: 0;
    margin-top: 0px;
  }

  

  #about-expo .container .col-md-6 {
    background: rgba(255, 255, 255, .5);
    color: black;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #about-overlap {
    font-size: 20px;
  }
  

  #about-bottom img {
    width: 300px;
    height: auto;
    position: relative;
    
  }

  #left-col {
    width: 300px;
    margin-top: 0px;
    padding-top: 30px;
    margin-bottom: 0px;
  }

  #right-col {
    width: 300px;
    margin-left: 160px;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  

  #lady-footer p {
    font-size: 16px;
  }
  
  
  
  


  /* CONTACT STYLING */
  #contact-deets {
    font-size: 25px;
  }

  #contact-deets .text {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
  }

  
  

  #deets-img-container {
    background: url('../img/defenestration.jpg') no-repeat 0% 0% scroll;
    height: 368px;
    width: 354px;
    margin-top: 30px;
    float: none;
    border: 5px solid #000;
    border-radius: 15px;
    
  }

  
  
  
  
}




/*
   @media (min-width: 595px) and (max-width: 767px) {


   }
 */

@media (max-width: 594px) {

  .speech-navbar {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  

  .navbar-fixed-top.speech-navbar .masthead-nav{
    
    width: 480px;
    height: auto;
  }

  .speech-navbar .masthead-nav > li > a {
    font-size: 20px;
  }
  
  .speech-navbar .masthead-nav > li + li {
    margin-left: 30px;
  }

  #main-image img {
    height: auto;
    width: 760px;
  }

  /* PORTFOLIO STYLES */

  

  .emphatic.divider-bar {
    padding-left: 150px;
    padding-right: 150px;
  }

  .pane {
    margin: 25px;
  }

  .portfolio-item .col-md-5 {
    width: 0;
  }
  
  .portfolio-item .col-md-5 a {
    display: none;
  }
  


  .portfolio-item .col-md-7 {
    width: 100%;
    
  }
/*
  .portfolio-item.even .col-md-7 h1 {
    display: none;
  }

  .portfolio-item.even .col-md-7 .toolbox {
    display: none;
  }

  .portfolio-item.odd .col-md-7 h1 {
    display: none;
  }

  .portfolio-item.odd .col-md-7 .toolbox {
    display: none;
  }
  */
  
  .portfolio-item h1 {
    font-size: 28px;
  }

  .portfolio-item h2 {
    font-size: 22px;
  }

  .portfolio-item h2 span {
    font-size: 18px;
  }

  /* ABOUT ME STYLES */

  #portrait {
    margin-top: -20px;
  }

  .node-service .row .image {
    height: 400px;
  }
  

  #hack-photo {
    background: url('../img/hackcessible_team.jpg') no-repeat center center scroll;
    background-size: cover;
    background-position: 0 10px;
    
  }

  #hack-photo img {
    opacity: 0;
  }

  #wics-photo {
    background: url('../img/wics_officers_1.jpg') no-repeat center center scroll;
    background-size: cover;
    background-position: 0 10px;
    
  }

  #wics-photo img {
    opacity: 0;
  }

  #ghc-photo {
    background: url('../img/ghc.jpg') no-repeat center center scroll;
    background-size: cover;
    background-position: 70% 35%;
    
  }

  #ghc-photo img {
    opacity: 0;
    margin-top: 0px;
  }

  #left-col {
    margin-top: -30px;
    margin-bottom: 5px;
  }

  #right-col {
    margin-top: -15px;
  }

  #about-expo .container .col-md-6 {
    background: rgba(255, 255, 255, .5);
    color: black;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #lady-footer p {
    font-size: 20px;
  }

  #lady-footer .col-xs-4 {
    width: 300px;
  }

  #right-col {
    margin-left: 120px;
  }

  #left-col {
    margin-top: -10px;
  }
  
  /* CONTACT STYLING */
  #contact-deets {
    font-size: 25px;
    margin: 0;
    padding: 0;
  }

  #contact-deets .row {
    margin: 0;
    padding: 0;
  }

  #contact-deets .color-box {
    margin: 20px 120px;
    padding: 10px 5px;
  }
  

  #contact-deets .text {
    margin: 0;
    padding: 0;
  }

  #deets-img-container {
    background: url('../img/defenestration.jpg') no-repeat 0% 0% scroll;
    background-size: 100% auto;
    height: 300px;
    width: 520px;
    float: none;
    border: 5px solid #000;
    border-radius: 15px;
    margin: 20px;
    margin-left: 110px;
    
  }

  #deets-img {
    opacity: 0;
  }
  
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .speech-navbar {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  

  .navbar-fixed-top.speech-navbar .masthead-nav{
    height: auto;
    width: 300px;
    
  }

  .masthead-nav {
    height: 150px;
    line-height: 1em;
  }
  

  .speech-navbar .masthead-nav > li > a {
    font-size: 20px;
  }
  
  .speech-navbar .masthead-nav > li + li {
    margin-left: auto;
    margin-right: auto;
  }

  #main-image img {
    height: auto;
    width: 320px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
  }

  #credits-footer p {
    font-size: 10px;
  }
  
  

  /* PORTFOLIO STYLES */

  .emphatic.divider-bar {
    padding-top: 200px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 30px;
  }

  .emphatic .top {
    display: none;
  }

  .emphatic .bottom {
    display: none;
  }
  

  .pane {
    margin: 5px;
  }

  .portfolio-item .row {
    display: block;
  }
  
  
  .portfolio-item img {
    display: none;
  }
  
  .portfolio-item h1 {
    font-size: 30px;
  }

  .portfolio-item h2 {
    font-size: 24px;
  }
  

  .portfolio-item .col-md-7 {
    width: 100%;
    
  }
/*
  .portfolio-item.even .col-md-7 h1 {
    display: none;
  }

  .portfolio-item.even .col-md-7 .toolbox {
    display: none;
  }

  .portfolio-item.odd .col-md-7 h1 {
    display: none;
  }

  .portfolio-item.odd .col-md-7 .toolbox {
    display: none;
  }
  */
  
  .portfolio-item h1 {
    font-size: 28px;
  }

  .portfolio-item h2 {
    font-size: 22px;
  }

  .portfolio-item h2 span {
    font-size: 18px;
  }

  

  /* ABOUT ME STYLES */

  #about-body {
    background: black;
  }
  
  
  #about-body .emphatic p {
    font-size: 30px;
  }
  
  #about-body h1{
    font-size: 30px;
    margin-bottom: 0px;
  }

  #about-body p {
    font-size: 20px;
  }

  #about-body h1 + p {
    margin-top: -10px;
  }
  

  #about-intro .container .row .col-md-7 {
    margin-top: -40px;
    padding:0;
    margin-left: 0;
    margin-right: 0;
    
  }

  #about-intro p {
    padding: 25px 5px;
    
  }

  
  #portrait {
    margin-top: -20px;
  }


  #about-expo {
    background: url('../img/laptop_50.jpg') no-repeat scroll;
    background-size: auto 100%;
    background-position: 65% 75%;
  }
  
  
  #about-expo .container {
    padding:  20px 10px;
  }
  

  #dev-fame-section h1 + p {
    margin-top: 10px;
  }
  
  .node-service .text-container{
    padding:30px 20px;
  }

  #about-body .node-service .ghost p {
    font-size: 16px;
  }
  
  
  #hack-photo {
    background: url('../img/hackcessible_team.jpg') no-repeat right center scroll;
    background-size: cover;
    background-position: 50% 10%;
    
  }

  #hack-photo img {
    opacity: 0;
  }

  #mit-photo {
    background: url('../img/mit_interns.jpg') no-repeat center center scroll;
    background-size: cover;
    background-position: 50% 10%;
    
  }

  #mit-photo img {
    opacity: 0;
  }

  
  

  #wics-photo {
    background: url('../img/wics_officers_1.jpg') no-repeat center center scroll;
    background-size: cover;
    background-position: 50% 10%;
    
  }

  #wics-photo img {
    opacity: 0;
  }

  

  #ghc-photo {
    background: url('../img/ghc.jpg') no-repeat center center scroll;
    background-size: cover;
    background-position: 70% 35%;
    
  }

  #ghc-photo img {
    opacity: 0;
    margin-top: 0px;
  }

  

  .node-service .row .image {
    height: 300px;
  }
  


  #about-expo .container .col-md-6 {
    background: rgba(255, 255, 255, .5);
    color: black;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #lady-footer {
    background: white url('../img/cheeky_400.gif') center bottom/50% scroll no-repeat;
  }
  

  #lady-footer p {
    font-size: 20px;
  }

  #lady-footer .col-xs-4 {
    width: 300px;
  }

  #left-col {
    margin: 0px;
    padding: 15px;
    padding-top: 30px;
  }

  #right-col {
    padding: 15px;
    padding-top: 0px;
    margin: 0px;
    margin-bottom: 100px;
  }

  #about-body .footnote .container p {
    font-size: 14px;
  }

  #about-body .footer.credits .container p{
    font-size: 14px;
  }
  
  

  
  
  /* CONTACT STYLING */
  #contact-deets {
    font-size: 25px;
    margin: 0;
    padding: 0;
  }

  #contact-deets .row {
    margin: 0;
    padding: 0;
  }

  #contact-deets .color-box {
    margin: 10px;
    padding: 10px 5px;
  }
  

  #contact-deets .text {
    margin: 0;
    padding: 0;
  }

  #deets-img-container {
    background: url('../img/defenestration.jpg') no-repeat 0% 0% scroll;
    background-size: auto 100%;
    height: 300px;
    width: 297px;
    margin-top: 30px;
    margin-bottom: 20px;
    float: none;
    border: 5px solid #000;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}


